.about_container {
    padding: 20px;
    font-size: 18px;

    .heading {
        font-size: 32px;
        font-weight: 600;
        font-family: serif;

        @media (max-width:767px) {
            text-align: center;
            
        }
    }

    .intro_heading {
        font-weight: 600;
        font-size: 24px;
    }

    .sub_line{
        font-weight: 600;
    }
    br {
        display: none;
        
        @media (max-width:767px) {
            display: block;
        }
    }
}