@import "~bootstrap/dist/css/bootstrap.min.css";

.main_class {
  min-height: 54vh;
}

.swiper {
  .swiper-button-prev {
    color: #fff;

    
  }
  .swiper-button-prev::after {
      content: '';
  }
  .swiper-button-next{
    color: #fff;
  }
  .swiper-button-next::after {
    content: '';
}
}