@import "~bootstrap/dist/css/bootstrap.min.css";

.main_class {
  min-height: 54vh;
}

.swiper {
  .swiper-button-prev {
    color: #fff;

    
  }
  .swiper-button-prev::after {
      /* content: '\003C'; */
      font-size: 36px;
  }

 
  .swiper-button-next{
    color: #fff;
  }
  .swiper-button-next::after {
    /* content: ''; */
    font-size: 36px;
}

@media (max-width:767px) {

  .swiper-button-prev::after {
    /* content: '\003C'; */
    font-size: 24px;
}

.swiper-button-next::after {
  /* content: ''; */
  font-size: 24px;
}
  
}


}

.about_swiper {
  margin: 0px 10px;
  .swiper-button-prev {
    color: #fff;

    
  }
  .swiper-button-prev::after {
      content: '\2190';
      font-size: 36px;
      color: #000;
      
  }
  
  .swiper-button-next{
    color: #fff;
  }
  .swiper-button-next::after {
    content: '\2192';
    font-size: 36px;
    color: #000;
}

.swiper-pagination-bullet {
  background-color: #000;
  opacity: 1;
  width: 5px;
  height: 5px;

  
}

.swiper-pagination-bullet-active {
  background-color: #000;
  width: 8px;
  height: 8px;
  /* padding: 5px; */
}

.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}
}


