.home_container {
    width: 100%;

    .about_top{
        max-width: 80%;
        margin: auto;

        @media (max-width:767px) {
            max-width: calc(100% - 10px)
            
            
        }
        .heading {
            font-family: "Poppins", Sans-serif;
            font-size: 50px;
            font-weight: 700;
            line-height: 1em;
            letter-spacing: -3px;
            color: #000;
            margin: 10px 5px 25px 5px;
            position: relative;
            animation-name: heading;
            animation-duration: 3s;
            left:0px;

            @media (max-width:767px) {
                font-size: 35px;
                text-align: center;
                
            }

            @keyframes heading {
                0%   {left:-600px; top:0px;}
                100% {left:0px; top:0px;}
              }
        
        }
    
        .divider {
            width: 100%;
            max-width: 100px;
            border-bottom: 3px solid #000;
            margin-left: 12px;
           
            @media (max-width:767px) {
                max-width: 50px;
                margin: auto;
                
            }
        }
    
        .about_slider_wrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap:10px;

            @media (max-width:1050px) {
                display: block;
                
            }
    
            .slider {
                flex:1;
    
            }
            .about_txt {
                flex:1;

                .sub_heading {
                    font-size: 23px;
                    font-weight: 700;
                   

                    @media (max-width:767px) {
                        text-align: center;
                        
                    }

                  
                }

                .introduction_txt {
                    font-size: 16px;
                }
    
            }
        }
        .features_wrap{
            margin-top: 5rem;

            .feature_sub_heading {
                font-size: 16px;
                font-weight: 700;

            }
            .feature_text {
                font-size: 16px;
                margin-top: 2rem;

            }
        }

    }

    .search_bar {
        background-color: #000;
        color: #fff;
        padding:60px 160px;

        @media (max-width:767px) {
            padding: 30px 10px;
            
        }

        .input_wrap {
            position: relative;

            input {
                width: 60%;
                padding: 10px 40px;
                border-radius: 5px;

                @media (max-width:767px) {
                    width: 70%;
                    
                }
            }
            .search_icon{
                position: absolute;
                top: 12px;
                left: 14px;
                color: #000;
            }
        }

        
    }
   
  
}