.home_container {
    width: 100%;

    .about_top{
        max-width: 75%;
        margin: auto;

        @media (max-width:767px) {
            max-width: calc(100% - 10px)
            
            
        }
        .heading {
            font-family: "Poppins", Sans-serif;
            font-size: 50px;
            font-weight: 700;
            line-height: 1em;
            letter-spacing: -3px;
            color: #000;
            margin: 0px 0px 25px 0px;

            @media (max-width:767px) {
                font-size: 35px;
                text-align: center;
                
            }
        
        }
    
        .divider {
            width: 100%;
            max-width: 100px;
            border-bottom: 3px solid #000;
           
            @media (max-width:767px) {
                max-width: 50px;
                margin: auto;
                
            }
        }
    
        .about_slider_wrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @media (max-width:1500px) {
                display: block;
                
            }
    
            .slider {
                flex:1;
    
            }
            .about_txt {
                flex:1;

                .sub_heading {
                    font-size: 23px;
                    font-weight: 700;

                    @media (max-width:767px) {
                        text-align: center;
                        
                    }
                }

                .introduction_txt {
                    font-size: 18px;
                }
    
            }
        }
        .features_wrap{
            margin-top: 5rem;

            .feature_sub_heading {
                font-size: 22px;
                font-weight: 700;

            }
            .feature_text {
                font-size: 18px;
                margin-top: 2rem;

            }
        }

    }

    .search_bar {
        background-color: #000;
        color: #fff;
        padding:60px 160px;

        @media (max-width:767px) {
            padding: 30px 10px;
            
        }

        .input_wrap {
            position: relative;

            input {
                width: 50%;
                padding: 10px 32px;
                border-radius: 5px;

                @media (max-width:767px) {
                    width: 70%;
                    
                }
            }
            .search_icon{
                position: absolute;
                top: 12px;
                left: 4px;
                color: #000;
            }
        }

        
    }
   
  
}