.main_container {
    position: relative;

    .myVideo{
        width: 100%;
        height: 787px;
        object-fit: cover;

        @media (max-width:767px) {
            height: 500px;
            
        }
    }

    .tag_line{
        font-size: 32px;
        position: absolute;
        background-color: transparent;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-wrap: nowrap;

        @media (max-width:767px) {
            display: none;
        }

        img{
            width: 150px;
            border-radius: 81px;

            @media (max-width:767px) {
                width: 80px;
            }
        }
        
  
        @media (max-width:767px) {
          font-size: 18px;
          
        }
        
      }

   


    .header_container {
        display:flex;
        padding: 20px 40px 0px 40px;
        justify-content: space-between;
        background-color: #00000087;
        min-height: 90px;
        align-items: center;
        position:fixed;
        width: 100%;
        z-index: 10;

        @media (max-width:767px) {
            padding: 20px 10px 0px 10px;
        }

        .social_links {
            flex: 1;
            display: flex;
            gap:20px;

            p{
                cursor: pointer;
            }

            @media (max-width:767px) {
                display: none;
            }

            svg {
                color: #fff;
            }
        }

        .brand_logo{
            flex:1;
            display: none;

            @media (max-width:767px) {
                display: block;
                
            }
        }

        .heading {
            flex: 1;
            color: #fff;
            text-align: center;
            padding-bottom: 5px;

            .text{
                font-size: 32px;
                margin-bottom: 0px;
                line-height: 1;
                @media (max-width:767px) {
                    font-size: 18px;
                }

               

        }
        .tagLine{
            margin-bottom: 0px;
            line-height: 1;
            text-wrap: nowrap;

            @media (max-width:767px) {
                font-size: 10px;
                
            }
              
      }
    }

        .logo {
            flex:1;
            img {
                width: 54px;

                @media (max-width:767px) {
                    width: 34px;
                    border-radius: 50px;
                    
                }
            }
        }

        .log_in {
            flex:1;
            svg {
                font-size: 32px;
                display: none;

                @media (max-width:1200px) {
                    display: block;
                    font-size: 24px;
                }
            }

            .nav_list{
        
                display: flex;
                color: #fff;
                justify-content: space-between;
                flex-wrap: wrap;

                a {
                    text-decoration: none;
                    color: #fff;
                }

                a:hover {
                    text-decoration: underline;
                }

                @media (max-width:1200px) {
                    display: none;
                    
                }
            }

        }
    }

    .nav_bar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 70%;
        margin: auto;
        justify-content: space-around;

        @media (max-width:786px) {
            display: none;
            
        }

        a{
            text-decoration: none;
            color: #000;
        }

        p{
            font-weight: 600;
            cursor: pointer;
            font-size: 18px;
        }

      
    }
   
}
.opt{
    padding: 10px;

a {
    text-decoration: none;
    color: #000
};

}