.footer_container{
    background-color: #000;
    color: #fff;
    border-top: 1px solid #fff;
    padding: 20px;

    .footer_heading {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .footer_botom{
        display: flex;
        justify-content: space-between;

        @media (max-width:767px) {
            margin-top: 20px;
            
        }

        p{
            cursor: pointer;
        }

        .social_links{
            margin-top: 10px;
            display: flex;
            gap: 10px;

            
        }

    }

    
}