.opportunity_container {
    padding: 40px;
    color: #000;

    h1, h2, h3, h5 {
        font-weight: 800;
    }

    .second_heading {
        text-decoration: underline;
        padding: 10px 0px;
        color: #636363;
    }
}